<html>
    <head>

        <title>

            {%block title%}  {%endblock}

        </title>
    </head>

    <body>
           <h1 style="background-color:blue; color:darkslategrey; text-align: center">Centro de Investigación en Ciencias de Información Geoespacial</h1>
           <h3>El Centro de Investigación en Ciencias de Información Geoespacial, A. C. , popularmente conocido como (CentroGeo), es una institución académica mexicana dedicada a la investigaciónEl Centro de Investigación en Ciencias de Información Geoespacial, A. C. , popularmente conocido como (CentroGeo), es una institución académica mexicana dedicada a la investigación</h3>
            
           {%block content %}

           {%endblock %}

           <p style="background-color:blue; color:darkslategrey; text-align: center">Es un centro público de investigación en Ciencias de Información Geoespacial, integrado al Sistema Nacional de Centros de Investigación Conacyt.</p>
        </body>
    </html>